{{!
    @template tiny_haccgen_extender/components/avatar-gallery-link

    Link to the public Heygen avatars gallery (subscription manager).

    Context variables:
    * url - Gallery URL.
    * linktext - Link label.

    @copyright 2026, Dynamic Pixel
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<p class="dp-ai-x-gallery-link">
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{linktext}}</a>
</p>
