{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_haccgen_extender/components/file-dropzone

    Image file picker/dropzone block for image description and text recognition.

    Context variables required for this template:
    * droparia
    * drophint
    * dropsub
    * choosefile
    * changefile
    * clearfile
    * showchoosebutton (boolean)

    @copyright 2026, Dynamic Pixel
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="dp-ai-img-wrap" id="dp-ai-img-wrap">
    <div class="dp-ai-drop" id="dp-ai-drop" role="button" tabindex="0" aria-label="{{droparia}}">
        <p class="dp-ai-drop__hint">{{drophint}}</p>
        <p class="dp-ai-drop__sub">{{dropsub}}</p>
        {{#showchoosebutton}}
        <button type="button" class="dp-ai-choose" id="dp-ai-choose">{{choosefile}}</button>
        {{/showchoosebutton}}
        <input class="dp-ai-file-input" id="dp-ai-file" type="file" accept="image/*" />
    </div>

    <div class="dp-ai-file-row dp-ai-hidden" id="dp-ai-file-row">
        <div class="dp-ai-file-name" id="dp-ai-file-name"></div>
        <div class="dp-ai-file-actions">
            <button type="button" class="dp-ai-btn" id="dp-ai-change">{{changefile}}</button>
            <button type="button" class="dp-ai-btn" id="dp-ai-clear">{{clearfile}}</button>
        </div>
    </div>
</div>
